@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');/* hämtar url från google fonts*/

*{
    margin: 0; /* ta bort stadard värde stjärnanr väljer alla element*/
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}
h1,h2{ /* mellanslang mella nvarjre bokstav på båda elementera*/
    font-family: oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#menu, #logo{ /*  väljer båda klasserna med komma tecken, samt bestämemr linjehöljden*/
line-height: 75px;

}

#logo{
    float: left;
    font-size: 280%g;
    margin-left: 30px;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
  
}
#menu li{ /* flyttar alla li element i menu id klassen till höger och tar bort punkterna samt gör mellanslag mellan varje ord*/
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{ /* tar bprt understreck samt ärver färgen ifrån närmaste föräldern*/
    text-decoration: none;
    color: inherit;
}
#menu a:hover{/* i menu klassen så blir alla a element understrkta när musen är över dom*/
    border-bottom: 1px solid #3a3a3a;
}
.active{/* lägger till understreck när man är på relevant sida*/
    border-bottom: 1px solid #3a3a3a;
}
#hero-outer{
    height: 600px;
    width:100%;
    overflow: hidden;
    position: relative;
    
}
#cover-text,h2{
color:rgb(236, 226, 226);
}
#hero-image{/* lägger till en bild .. betyder två stegg bak och sedan absolut sök vägg till images. bilden repeteras inte och flyttas till mitten två gånger. bildens övredel göms undan*/
    height: 500px;
    width:100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    overflow: hidden;

    animation-name: hero-zoom;  /* skapa ett namn för animering*/
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
@keyframes hero-zoom{ /* själva animeringen sker här*/
    from{
transform: scale(1);
    }
 to{
transform: scale(1.1);
}


}
#cover-text{ /* skapar en genomskinilig röd liten ruta till höger om bilden*/
    font-size: 130%;
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    position: absolute;
    bottom: 100px;
    right: 150px;
}
/* skapar tre stycken kolumner som är lika stora en tredjel är varje block. margin:auto innebär att diven är centrerad i mitten*/
#club-ethos{
    height: 600px;
    
    
}
hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
   
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;

}
#center-about{
    width: 33%;
    margin: 0 auto;
    
}
.left-about-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h2{
    text-align: right;
}
.right-about-heading p{
    text-align: right;
}
#welcome{
    text-align: center;
    color: black;
    margin:30px 0;
    font-size: 280%;
}
#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin:0 auto;
}
#circle-cover-bg{
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#times{
    background: url('../images/dublin-city.webp');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow: hidden;
    
}
#times div{
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}
#times h2{
    color: floralwhite;
}
footer{
    height: 150px;
}
.social-network{
    text-align: center;
    
}
.social-network> li{
    display: inline;
}
.social-network i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
#photos{/* display below the header*/
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos> img{
    width: 100%;
}
/*responsive design*/
@media screen and (max-width: 1200px) {
#club-ethos{
width: 65%;
height: 1200px;
margin: 0 auto;
}
#welcome{
    padding: 30px 0;
    margin: 0;
}
#left-about,#right-about{
    width: 100%;
    float: left;
    padding: 0;
}
#center-about{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}
hr{
    display: none;
}
}

/* for media screen below 950 px*/
@media screen and (max-width: 950px){

#menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}


}
    
